body {
    background-color: lightblue;
}

h1{
    color:mediumblue;
    text-align: center;
    font-family:Verdana, Cambria;
}

h2{
    color:dodgerblue;
   
}

p{
    color:rgb(47, 179, 235);
    font-weight: 800;
}



