/*I chose a blue color scheme because of the cold weather! */

body {
    background-color: lightblue;
    text-align: center;
}

h1{
    color:mediumblue;
    text-align: center;
    font-family: Georgia;
}


p{
    color:rgb(47, 179, 235);
    font-weight: 800;
    font-family: monospace;
    margin: 50px;
    
}

h3{
    color: azure;
    font-style: italic;
    text-align: left;
    font-size: 22px;
}

.listSection{
    background: lightskyblue;
    font-style: italic;
    font-size: 14px;
    color:deepskyblue;
    text-align: left;
    padding: 1px;
}

.insideList{
    background: azure;
    padding: 4px;
}

.header{
    margin:100px;  
    color:dodgerblue;
    border-style:dotted;
    border-width:0.2cap;
}

#highlight {
    color:rgb(255, 255, 255);
}

#textColor {
    color:rgb(125, 193, 56)
}



